.bg-zinc-900
    .container.p-4.mx-auto.flex.text-xs
        .flex-grow
            a(href="https://github.com/LeTammo/homepage/blob/main/public/js/sketch.js" target="_blank")
                span.text-zinc-500 🔗 Animation made with p5.js
            button.pl-5(onclick="toggleColor()")
                spam ✨ Farben
            button.pl-5(onclick="toggleSpeed()")
                span 🔥 Beschleunigen
        .text-right
            a(href="https://github.com/LeTammo/" target="_blank")
                span.text-zinc-500 &copy; 2024 - Felix Jonas Wiegleb