extends layout

block content
    .text-center.text-2xl
        p.pb-2.italic Willkommen!
        p.pb-4 Ich bin Felix Jonas Wiegleb - Webentwickler und Wissenschafts-Nerd.
        .mx-auto.rounded-full.border-2.border-zinc-600.w-32.h-32
            img.rounded-full.border-4.border-zinc-900.mt-2(src="images/me.jpg" alt="logo")
        p.pt-2 Hier stelle ich mich vor, gebe Einblicke in meine Projekte und lebe mich ein µ kreativ aus.
        p.pt-2.italic Viel Spaß beim Stöbern!