.sticky.top-8.p-6.bg-zinc-900.rounded-xl.w-full.border.border-zinc-800
    ul.nav.flex.flex-col.overflow-hidden
        each item in navItems
            li.nav-item.mb-3
                a(
                    href=item.href
                    target=item.external ? "_blank" : "_self"
                    class=activePage === item.key ? 'text-green-600 font-bold' : ''
                ).nav-link.hover--text-zinc-100.text-xl.flex.align-center
                    if item.external
                        span.text-sm.my-auto 🔗
                    .text-2xl= item.label