.sticky.xl--top-8.p-2.xl--p-6.bg-zinc-900.rounded-xl.w-full.border.border-zinc-800.h-screen
    .flex.flex-col.items-center.xl--items-start
        a(href="/").flex.items-center.pb-4
            //- img(src="/images/logo.png", alt="Logo").w-10.h-10.mr-2
            span.text-2xl.font-bold.text-white mathia.xyz
    ul.nav.flex.xl--flex-col.overflow-hidden.justify-center.gap-1.sm--gap-2.md--gap-4.lg--gap-8.xl--gap-0
        each item in navItems
            li.nav-item
                a(
                    href=item.href
                    target=item.external ? "_blank" : "_self"
                    class=(activePage === item.key ? 'text-green-600' : 'text-zinc-400 hover:text-zinc-100') + ' nav-link text-xl flex items-center p-2 rounded-md'
                )
                    if item.key === 'home'
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home w-4 h-4 sm--w-6 sm--h-6 mr-1 sm--mr-2")
                            path(d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z")
                            polyline(points="9 22 9 12 15 12 15 22")
                    if item.key === 'about'
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round w-4 h-4 sm--w-6 sm--h-6 mr-1 sm--mr-2")
                            circle(cx="12" cy="8" r="5")
                            path(d="M20 21a8 8 0 0 0-16 0")
                    if item.key === 'projects'
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rocket w-4 h-4 sm--w-6 sm--h-6 mr-1 sm--mr-2")
                            path(d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.3.09-3.1a2.18 2.18 0 0 0-3.11-.1z")
                            path(d="m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z")
                            path(d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0")
                            path(d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5")
                    if item.key === 'blog'
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss w-4 h-4 sm--w-6 sm--h-6 mr-1 sm--mr-2")
                            path(d="M4 11a9 9 0 0 1 9 9")
                            path(d="M4 4a16 16 0 0 1 16 16")
                            circle(cx="5" cy="19" r="1")
                    span.text-sm.md--text-lg.hover--text-zinc-100= item.label
