extends layout

block content
    .divide-y.divide-zinc-800
        .py-8.flex.flex-row.justify-between
            .mdw-1-3.lg--w-3-6.pr-4
                a(href="https://amronas.one/home" target="_blank")
                    .text-2xl.font-semibold.textun Persönliche Webseite
                p Wir befinden uns gerade hier.
            .md--w-2-3.lg--w-3-6
                img(src="/images/youarehere2.png" alt="You are here").shadow-lg.shadow-zinc-600.border-2.rounded-lg.border-zinc-700
        .py-8.flex.flex-row.justify-between
            .mdw-1-3.lg--w-3-6.pr-4
                a(href="https://woodcutters.mathia.xyz/" target="_blank")
                    .text-2xl.font-semibold.textun Woodcutters
                p Woodcutters ist ein browserbasiertes Planspiel mit Bezug zur politischen Bildung von Jugendlichen.
                p In Woodcutters übernehmen Spieler die Rolle von Konzernen mit dem Ziel, möglichst viel Holz für ihre Produktion zu sammeln.
                p Der Wald ist jedoch begrenzt und die Spieler müssen sich entscheiden, ob sie den Wald nachhaltig bewirtschaften oder ihn ausbeuten.
            .md--w-2-3.lg--w-3-6
                img(src="/images/woodcutters.png" alt="Woodcutters").pt-12.shadow-lg.shadow-zinc-600.border-2.rounded-lg.border-zinc-700
        .py-8.flex.flex-row.justify-between
            .mdw-1-3.lg--w-3-6.pr-4
                a(href="https://amronas.one/home" target="_blank")
                    .text-2xl.font-semibold.textun Amronas
                p Eine Webseite die für mich zu Beginn meiner Ausbildung als Spielwiese dient.
                p Hauptsächlich kann man hier Film und Serienlisten erstellen und verwalten.
                p Aber es gibt auch beispielsweise ein Wordle und ein DB-Bingo (Wir fahren viel Deutsche Bahn).
            .md--w-2-3.lg--w-3-6
                img(src="/images/amronas.png" alt="Amronas").shadow-lg.shadow-zinc-600.border-2.rounded-lg.border-zinc-500