extends layout

block content
    h1.text-2xl#projects Projekte
    p Hier sind einige Projekte, an denen ich gearbeitet habe:
    ul.list-disc.pl-5
        li.mb-2
            h2.text-2xl.font-semibold Projekt 1
            p Eine Beschreibung des Projekts
        li.mb-2
            h2.text-2xl.font-semibold Projekt 2
            p Eine Beschreibung des Projekts
        li.mb-2
            h2.text-2xl.font-semibold Projekt 3
            p Eine Beschreibung des Projekts
