extends ../layout

block content
    .mb-12
        h1.text-4xl.md--text-5xl.font-bold.text-white.mb-4 About Me
        .h-1.w-20.bg-green-600.rounded

    .grid.grid-cols-1.lg--grid-cols-3.gap-4.xl--gap-8.mb-12
        .lg--col-span-2.space-y-6
            .bg-zinc-800.rounded-xl.p-8.border.border-zinc-700
                include bio

        .lg--col-span-1.space-y-6
            .bg-zinc-800.rounded-xl.p-6.border.border-zinc-700.space-y-6
                include work
            .bg-zinc-800.rounded-xl.p-6.border.border-zinc-700.space-y-6
                include education
