extends ../layout

block content
    .flex.flex-row.justify-between.divide-x.divide-zinc-800
        .w-2-3.text-justify.pr-6
            img(src="images/me.jpg" alt="logo" width="200" height="200").float-right.ml-6.rounded-xl.shadow-lg.shadow-zinc-700
            h1.text-2xl.font-bold.pb-4 Felix Jonas Wiegleb
            p.pb-2 Hallo 😊
            | Ich arbeite als Webentwickler und habe im Dezember 2023
            | meine Ausbildung zum mathematisch-technischen Softwareentwickler bei der Databay AG abgeschlossen.
            | Aktuell befinde ich mich in der letzten Phase meines dualen Studiums an der FH Aachen und
            | verfasse eine Bachelorarbeit über Planung und Maßnahmen von Softwaremodernisierungen.
            p
            | Letztes Jahr habe ich die zugehörige Ausbildung bei der Databay AG erfolgreich abgeschlossen
            | und wurde dort im Team Seminarmanagement übernommen.
            | Während dieser Zeit habe ich umfangreiche Erfahrungen in der Entwicklung mit PHP gesammelt.
        .w-1-3.pl-2.flex.flex-col.divide-y.divide-zinc-800
            include vitae