extends ../layout

block content
    .flex.flex-row.justify-between.divide-x.divide-zinc-800
        .w-2-3.text-justify.break-normal.pr-6
            img(src="images/me.jpg" alt="logo" width="200" height="200").float-right.ml-6.rounded-xl.shadow-lg.shadow-zinc-700
            h1.text-2xl.font-bold.pb-4 Felix Jonas Wiegleb
            | Ich arbeite aktuell als Webentwickler bei der Databay AG, wo ich 2023 meine Ausbildung
            | zum "mathematisch-technischen Softwareentwickler" abgeschlossen habe. Parallel habe ich als duales Studium
            | meinen B.Sc. in "Angewandte Mathematik und Informatik" an der FH Aachen 2024 erfolgreich abgeschlossen.
            br
            br
            | In diesen Jahren konnte ich umfangreiche Erfahrungen in der Entwicklung mit PHP sammeln.
            | Zu Beginn habe ich mit React und Symfony gearbeitet,  relativ schnell bin ich dann jedoch zum Team
            | Seminarmanagement gewechselt und habe an der hauseigenen Software mitgewirkt.
            br
            br
            | Privat habe ich meine Kenntnisse in der Webentwicklung verstärkt, indem ich an verschiedenen Hobby-Projekten
            | gearbeitet habe. Ignoriert man die dutzend unfertigen Prototypen an verschiedensten Todo-, Habit- oder
            | Minigame-Webseiten, kristallisieren sich vier Projekte heraus, ich als vorstellungswürdig erachte.
        .w-1-3.pl-2.flex.flex-col.divide-y.divide-zinc-800
            include vitae