div
    p.text-lg.uppercase Berufliche Erfahrung
        .pl-4
            .py-4
                p.italic.font-light 2021 - heute
                p.font-bold Fullstack PHP-Webdeveloper
                p.font-light Databay AG
            .py-4
                p.italic.font-light 2018 - 2020
                p.font-bold Leiter des Ganztagsangebots<br>„Mathefördern und -fordern“
                p.font-light Erich-Zeigner-Grundschule Leipzig
            .py-4
                p.italic.font-light 2018 - 2020
                p.font-bold Promoter für Fahrgastaktionen
                p.font-light Abellio Rail GmbH
            .py-4
                p.italic.font-light 2016 - 2017
                p.font-bold Studentische Hilfskraft<br>im Pilotprojekt E-Learning
                p.font-light HTWK Leipzig
div.mt-4.pt-6
    p.text-lg.uppercase Ausbildung
        .pl-4
            .py-4
                p.italic.font-light 2020 - heute
                p.font-bold Studium Angewandte Mathematik und Informatik (B.Sc.)
                p.font-light FH Aachen
            .py-4
                p.italic.font-light 2020 - 2023
                p.font-bold Ausbildung zum mathematisch-technischen Softwareentwickler
                p.font-light Databay AG
            .py-4
                p.italic.font-light 2014 - 2020
                p.font-bold Studium Angewandte Mathematik (B.Sc.)
                p.font-light HTWK Leipzig
            .py-4
                p.italic.font-light 2012 - 2014
                p.font-bold Fachhochschule Technik
                p.font-light Berufliches Schulzentrum 7 Leipzig