extends ../layout

block content
    h1.text-4xl.font-bold.text-white.mb-8 Projects
    .grid.grid-cols-1.md--grid-cols-2.lg--grid-cols-3.gap-8
        //- Project 1
        .bg-gradient-to-br.from-zinc-800.to-zinc-900.rounded-lg.shadow-lg.overflow-hidden.border.border-zinc-700.hover--border-green-600.transition-all.duration-300.transform.hover--scale-105.hover--shadow-2xl
            img(src="/images/youarehere32.png" alt="You are here").w-full.h-48.object-cover
            .p-6
                h2.text-2xl.font-bold.text-white.mb-2 Portfolio
                p.text-zinc-400.mb-4 Informationen 체ber mich und meine Projekte.
                .flex.flex-wrap.gap-2
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Node
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Express
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Pug
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Tailwind CSS

        //- Project 2
        a(href="https://pole.mathia.xyz/" target="_blank").bg-gradient-to-br.from-zinc-800.to-zinc-900.rounded-lg.shadow-lg.overflow-hidden.border.border-zinc-700.hover--border-green-600.transition-all.duration-300.transform.hover--scale-105.hover--shadow-2xl
            img(src="/images/polepick.png" alt="PolePick").w-full.h-48.object-cover
            .p-6
                h2.text-2xl.font-bold.text-white.mb-2 PolePick
                p.text-zinc-400.mb-4 Tippspiel f체r das n채chste Formel-1-Rennen.
                .flex.flex-wrap.gap-2
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Node
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Express
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Handlebars
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Tailwind CSS

        //- Project 3
        a(href="https://movie.amronas.one/" target="_blank").bg-gradient-to-br.from-zinc-800.to-zinc-900.rounded-lg.shadow-lg.overflow-hidden.border.border-zinc-700.hover--border-green-600.transition-all.duration-300.transform.hover--scale-105.hover--shadow-2xl
            img(src="/images/amronas.png" alt="Amronas").w-full.h-48.object-cover
            .p-6
                h2.text-2xl.font-bold.text-white.mb-2 Amronas
                p.text-zinc-400.mb-4 Meine erste Spielwiese. Gemeinsame Film- und Serienlisten verwalten, Wordle, Bahn-Bingo, etc.
                .flex.flex-wrap.gap-2
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Symfony
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 MySQL
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Twig
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Bootstrap

        //- Project 4
        a(href="https://woodcutters.mathia.xyz/" target="_blank").bg-gradient-to-br.from-zinc-800.to-zinc-900.rounded-lg.shadow-lg.overflow-hidden.border.border-zinc-700.hover--border-green-600.transition-all.duration-300.transform.hover--scale-105.hover--shadow-2xl
            img(src="/images/woodcutters.png" alt="Woodcutters").w-full.h-48.object-cover
            .p-6
                h2.text-2xl.font-bold.text-white.mb-2 Woodcutters
                p.text-zinc-400.mb-4 Ein Planspiel 체ber Waldrodung zur politischen Bildung von Jugendlichen.
                .flex.flex-wrap.gap-2
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Node
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Express
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Socket.io
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 SQLite
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 React
                    span.text-green-600.text-xs.font-semibold.px-2.py-1.rounded-full.border.border-green-600.hover--bg-green-600.hover--text-white.transition-all.duration-300 Bootstrap
