extends ../layout

block content
    .divide-y.divide-zinc-800
        .py-8.flex.flex-col.md--flex-row.justify-between
            .md--w-1-3.lg--w-3-6.md--pr-4
                h1.text-2xl.font-semibold.pb-4 » Portfolio «
                p Wir befinden uns gerade hier. Informationen über mich und meine Projekte.
                br
                div.font-bold Erstellt mit:
                div Node, Express, Pug, Tailwind CSS
            .md--w-2-3.lg--w-3-6
                img(src="/images/youarehere32.png" alt="You are here").shadow-lg.shadow-zinc-800.border.rounded-lg.border-zinc-800
        .py-8.flex.flex-col.md--flex-row.justify-between
            .md--w-2-3.lg--w-3-6
                a(href="https://pole.mathia.xyz/" target="_blank")
                    img(src="/images/polepick.png" alt="PolePick").shadow-lg.shadow-zinc-800.border.rounded-lg.border-zinc-700
            .md--w-1-3.lg--w-3-6.md--pl-4
                a(href="https://pole.mathia.xyz/" target="_blank")
                    .text-2xl.font-semibold.pb-4 » PolePick «
                p Hier kann das Ergebnis des nächsten Formel-1-Rennen getippt und dann mit anderen Nutzern vergleichen werden.
                br
                div.font-bold Erstellt mit:
                div Node, Express, Handlebars, Tailwind CSS
        .py-8.flex.flex-col.md--flex-row.justify-between
            .md--w-1-3.lg--w-3-6.md--pr-4
                a(href="https://movie.amronas.one/" target="_blank")
                    .text-2xl.font-semibold.pb-4 » Amronas «
                | Eine Webseite die für mich zu Beginn meiner Ausbildung als Spielwiese diente.
                | Hauptsächlich kann man hier mit anderen Nutzern gemeinsam Film- und Serienlisten erstellen und verwalten.
                | Über eine API ist die IMDB-Datenbank angebunden, die es erleichter Filme zu finden und hinzuzufügen.
                p Aber es gibt auch beispielsweise ein Wordle und ein "Deutsche Bahn"-Bingo.
                br
                div.font-bold Erstellt mit:
                div Symfony, MySQL, Twig, Bootstrap
            .md--w-2-3.lg--w-3-6
                a(href="https://movie.amronas.one/" target="_blank")
                    img(src="/images/amronas.png" alt="Amronas").shadow-lg.shadow-zinc-600.border.rounded-lg.border-zinc-800
        .py-8.flex.flex-col.md--flex-row.justify-between
            .md--w-2-3.lg--w-3-6
                a(href="https://woodcutters.mathia.xyz/" target="_blank")
                    img(src="/images/woodcutters.png" alt="Woodcutters").pt-12.shadow-lg.shadow-zinc-800.border.rounded-lg.border-zinc-700
            .md--w-1-3.lg--w-3-6.md--pl-4
                a(href="https://woodcutters.mathia.xyz/" target="_blank")
                    .text-2xl.font-semibold.pb-4 » Woodcutters «
                p Woodcutters ist ein browserbasiertes Planspiel mit Bezug zur politischen Bildung von Jugendlichen.
                p In Woodcutters übernehmen Spieler die Rolle von Konzernen mit dem Ziel, möglichst viel Holz für ihre Produktion zu sammeln.
                p Der Wald ist jedoch begrenzt und die Spieler müssen sich entscheiden, ob sie den Wald nachhaltig bewirtschaften oder ihn ausbeuten.
                br
                div.font-bold Erstellt mit:
                div Node, Express, Socket.io, SQLite, React, Bootstrap